html{
	height:100%;
}
body{
	background-color:#516fb7;
	height:100%;
	margin:0px;
	padding:0px;
	text-align:center;
}
.body{
	height:100%; 
}
.head{
	position:relative;
	width:100%;
	height:12%;
}
.index_head{
	padding-left:30%;
	padding-top:10px;
}
.index_head #title{
	position:relative;
	font-size: 70px;
	font-family:LiSu;
	float: left;
}
.index_head #exit{
    position:relative;
    padding-top:8px;
	padding-left:10%;	
	float: left;
}
.index_head #exit p{
	float: left;
	font-size: 18px;
}
.index_head #exit a{
	font-size: 20px;
    margin:17px 0px 0px 5px;
	float: left;
	text-decoration:none;
}
.index_head #exit a:HOVER{color:blue;}
.clear{
	clear: both;
}


.index_body{
	background-color:white;
	height:78%; 
	width:100%;
}
.menu{
	width: 15%;
	height: 100%;
	background-color: #f3f3f3;
	float: left;
	padding-left: 4%;
}
.boom{
	float: left;
	height:100%;
	width: 75%;
}
.boom2{
	height:100%;
	width:100%;
}
.user{
	padding-top: 40px;
}
.user a{
	font-size: 40px;
	text-decoration: none;
	font-weight: bold;
	color:blue;
}
#userm1 {
	font-size: 30px;
	text-decoration: none;
}
#userm2 {
	font-size: 30px;
	text-decoration: none;
}

.goods a{
	font-size: 40px;
	text-decoration: none;
	font-weight: bold;
	color:blue;
}
#goodsm1{
	font-size: 30px;
	text-decoration: none;
}
#goodsm2{
	font-size: 30px;
	text-decoration: none;
}
.order a{
	font-size: 40px;
	text-decoration: none;
	font-weight: bold;
	color:blue;
}
#orderm1{
	font-size: 30px;
	text-decoration: none;
}
#orderm2{
	font-size: 30px;
	text-decoration: none;
}




.footer{
	height: 10%;
	text-align: center;
	color:#516fb7;
}

.footer2{
    padding-top: 20px;
}
.links a{
	color:#e4393c;
}
.copyright{
	margin-top: 20px;
	color:#e4393c;
}