#inp lable{
	font-size:29px;
	float:left;
	background-color: #00FF00;
}

#inp input{
	font-size: 24px;
	float:left;
}
#sub{
	float:left;
}
#sub input{
	font-size:24px;
	height:32px;
	width: 80px;
	background-color: #FF6100;
	border: 0px;
}
#sub a{
	font-size:26px;
	background-color: #00FF00;
	text-decoration: none;
	color:black;
}
#clear{
	clear: both;
}
.basem{
	height: 200px;
}
#basev{
	margin-left: 20%;
}
#basev lable{
	font-size: 24px;
	padding-top: 15px;
}
#basev input{
	margin:10px;
	height: 24px;
	width: 200px;
	font-size: 20px;
}
#basev select{
	margin:10px;
	font-size:24px;
	height: 30px;
	width: 200px;
}
#pp{
	height:50px;
	background-color: #516fb7;
	font-size: 30px;
}
#pp p{
	padding: 10px;
}

.countm{
	height: 200px;
}
.subres{
	margin-left: 20%;
}
.subres input{
	width: 150px;
	height: 50px;
	font-size: 24px;
}
